@font-face {
    font-family: "Pop";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Pop";
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Pop";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Pop";
    src: url("../fonts/Poppins-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "TT Norms";
    src: url("../fonts/TTNorms-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "TT Norms";
    src: url("../fonts/TTNorms-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

html {
    scroll-padding-top: 70px;
}

body {
    font-family: "Pop", serif !important;
}

p > img {
    max-width: 100%;
    height: auto;
}

ul.nav li.first-level {
    font-weight: bold;
}

ul.nav li.third-level {
    padding-left: 12px;
}

div.col-md-3 {
    padding-left: 0;
}

div.col-md-9 {
    padding-bottom: 100px;
}

div.source-links {
    float: right;
}

div[role="main"] img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

div[role="main"] a {
    text-decoration: underline;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
    z-index: 1;
    color: #191944;
    font-size: 19px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-left: 1px solid #3CADEF;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: 500;
    background-color: transparent;
    border-left: 1px solid #3CADEF;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .sidebar-wrapper {
        position: sticky;
        top: 100px;
    }
    .bs-sidebar.affix {
        position: sticky; /* Undo the static from mobile first approach */
        top: 180px;
        max-height: calc(100% - 180px);
        overflow-y: auto;
        height: 75vh;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}


/* Added to support >2 level nav in drop down */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 00px;
}
/* Start Bootstrap Callouts CSS Source by Chris Pratt (https://codepen.io/chrisdpratt/pen/IAymB) MIT License*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #FCFDFF;
}
.bs-callout h4 {
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #FA023C; /*modified from upstream default by Christopher Simpkins*/
}
.bs-callout-default h4 {
    color: #FA023C; /*modified from upstream default by Christopher Simpkins*/
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
/* End Bootstrap Callouts CSS Source by Chris Pratt */

/* Headerlinks */
.headerlink {
    display: none;
    padding-left: .5em;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink {
    display: inline-block;
}

/* Admonitions */
.admonition {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #FCFDFF;
}

.admonition p:last-child {
    margin-bottom: 0;
}
.admonition code {
    border-radius: 3px;
}
.admonition+.admonition {
    margin-top: -5px;
}

.admonition.note { /* csslint allow: adjoining-classes */
    border-left-color: #428bca;
}

.admonition.warning { /* csslint allow: adjoining-classes */
    border-left-color: #f0ad4e;
}

.admonition.danger { /* csslint allow: adjoining-classes */
    border-left-color: #d9534f;
}

.admonition-title {
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.admonition.note > .admonition-title {
    color: #428bca;
}

.admonition.warning > .admonition-title {
    color: #f0ad4e;
}

.admonition.danger > .admonition-title {
    color: #d9534f;
}

  /* Posts */
.posts {
    padding: 80px 0 60px;
  }
  
  @media (max-width: 800px) {
    .posts {
      padding: 40px 0 80px;
    }
  }
  
  @media (max-width: 600px) {
    .posts {
      padding-top: 30px;
    }
  }
  
  .posts__title {
    margin-bottom: 50px;
    font-size: 35px;
    line-height: 52px;
  }
  
  @media (max-width: 800px) {
    .posts__title {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 600px) {
    .posts__title {
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 42px;
    }
  }
  
  .posts__subtitle {
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 37px;
  }
  
  .posts__category {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
  
    margin-right: 20px;
  
    overflow: auto;
    scrollbar-width: none;
  }
  
  .posts__category-wrap {
    position: relative;
    margin-bottom: 60px;
    margin-right: -20px;
  }
  
  @media (max-width: 992px) {
    .posts__category-wrap {
      justify-content: start;
  
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 600px) {
    .posts__category-wrap {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 992px) {
    .posts__category-wrap::after {
      position: absolute;
      top: 0;
      left: calc(100% - 69px);
      bottom: 0;
      right: 0;
      
      background: linear-gradient(270deg, #FFFFFF 18.75%, rgba(255, 255, 255, 0) 100%);
      content: '';
      pointer-events: none;
    }
  }
  
  .posts__category::-webkit-scrollbar { 
    display: none; 
  }
  
  @media (max-width: 992px) {
    .posts__category {
      justify-content: start;
    }
  }

  .posts__category {
      list-style: none;
      padding-left: 0;
  }

  .posts__category-item {
    list-style: none;
  }
  
  .posts__category-item {
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
  
    font-size: 19px;
    line-height: 35px;
    background: #F3F3F3;
    border: 1px solid #F3F3F3;
    border-radius: 39px;
    transition: 0.3s all ease;
    cursor: pointer;
    white-space: nowrap;
  }

  .posts__category-item a {
    color: #191944;
    font-size: 16px;
  }
  
  @media (max-width: 800px) {
    .posts__category-item {
      font-size: 16px;
    }
  }
  
  @media (max-width: 600px) {
    .posts__category-item {
      padding: 5px 20px;
      font-size: 14px;
      line-height: 25px;
    }
  }
  
  .posts__category-item:hover,
  .posts__category-item.active {
    background: #FFFFFF;
    border: 1px solid #191944;
  }

  .posts__category-item:hover a {
      text-decoration: none;
  }
  
  .posts__category-item:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 992px) {
    .posts__category-item:last-child {
      margin-right: 100px;
    }
  }

  /* Footer */
.footer {
    padding: 75px 210px 75px 80px;
  
    color: #FFFFFF;
    background-color: #17193D;
  }
  
  @media (max-width: 800px) {
    .footer {
      padding: 40px;
    }
  }
  
  @media (max-width: 600px) {
    .footer {
      padding: 40px 40px 40px 20px;
    }
  }
  
  .container-footer {
    max-width: 1600px;
  }
  
  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (max-width: 600px) {
    .footer__logo {
      display: none;
    }
  }
  
  .footer__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-left: 154px;
  }
  
  @media (max-width: 800px) {
    .footer__links {
      gap: 30px;
    }
  }
  
  @media (max-width: 1024px) {
    .footer__links {
      margin-left: 55px;
    }
  }
  
  @media (max-width: 600px) {
    .footer__links {
      grid-template-columns: 1fr;
      gap: 20px;
      margin-left: 0px;
    }
  }
  
  .footer__social,
  .footer__links-one {
    display: flex;
    flex-direction: column;
  }
  
  .footer__social-title,
  .footer__links-title {
    margin-bottom: 9px;
    font-size: 19px;
    line-height: 30px;
    font-family: "TT Norms";
    font-weight: 700;
    font-style: normal !important;
    color: #fff !important;
  }
  
  @media (max-width: 800px) {
    .footer__social-title,
    .footer__links-title {
      margin-bottom: 24px;
    }
  }
  
  @media (max-width: 600px) {
    .footer__social-title,
    .footer__links-title {
      margin-bottom: 14px;
      font-family: "TT Norms";
      color: rgba(255, 255, 255, 0.5);
      font-size: 13px;
      line-height: 20px;
    }
  }
  
  .footer__social-link,
  .footer__links-link {
    font-size: 19px;
    line-height: 45px;
    font-family: "TT Norms";
    font-weight: 300;
    color: #fff !important;
  }
  
  @media (max-width: 600px) {
    .footer__social-link,
    .footer__links-link {
      font-family: "TT Norms";
      font-weight: 400;
      font-size: 13px;
      line-height: 30px;
    }
  }
  
  
  .footer__social-link {
    position: relative;
    padding-left: 37px;
  }
  
  @media (max-width: 600px) {
    .footer__social-link {
      padding-left: 0;
    }
  }
  
  .footer__social-img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  @media (max-width: 600px) {
    .footer__social-img {
      display: none;
    }
  }
  
  .footer__social-img--facebook {
    left: 5px;
  }
  
  .footer__copy {
    width: 100%;
    margin-top: -5px;
  
    font-family: 'TT Norms';
    font-size: 19px;
    line-height: 19px;
    opacity: 0.4;
  }
  
  @media (max-width: 600px) {
    .footer__copy {
      margin-top: 60px;
      font-size: 13px;
      line-height: 31px;
      opacity: 0.3;
    }
  }
  .nested-drop {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #fff;
    padding-left: 0;
  }
  .nested-drop li {
    padding: 15px;
    list-style: none;
  }

  .nested-drop li a {
    font-size: 16px;
    color: #000;
  }
  .drop {
    position: relative;
  }
  .drop:hover > .nested-drop {
    display: block;
  }
  @media (max-width: 600px) {
    .nested-drop {
      position: relative;
      top: 0;
    }
  }

@media all and (max-width: 768px) {
  pre, code {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
  }
}
.flex_display {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
/******************************************************
* Header New
******************************************************/
.header {
	padding:0;
  box-shadow: none;
	height: auto;
	background-color: #141638;
}
.header .c-navigation__top {
	background-color: #222450;
}
.header .c-navigation__top .container-header {
	justify-content: flex-end;
	width: 100%;
  max-width: 1360px;
  margin: 0 auto;
	padding: 15px 30px;
}
.header .c-navigation__top .c-navigation__top_links > a {
	font-size: 16px;
  color: #fff;
  margin-right: 15px;
	font-weight: 300;
}
.header .c-navigation__top .c-navigation__top_links > a:hover,
.header .c-navigation__top .c-navigation__top_links > a:focus {
	color: #3cadef;
  text-decoration: none;
}
.header .c-navigation__top .c-navigation__top_links .c-navigation__top_links__link_border {
	border: 1px solid #08a5fc;
  border-radius: 33px;
  padding: 3px 25px;
  margin-left: 20px;
	font-weight:500;
	margin-right: 0;
}
.header .c-navigation__top .c-navigation__top_links .c-navigation__top_links__link_border:hover,.header .c-navigation__top .c-navigation__top_links .c-navigation__top_links__link_border:focus {
	color: #08a5fc;
}
.header .c-navigation__top .c-navigation__top_links_social__item {
	display: inline-block;
  line-height: 1;
  padding: 0 4px;
}
.header .c-navigation__top .c-navigation__top_links .c-navigation__top_links__link__deck {
    margin:0 15px;
}
.header .c-navigation__top .c-navigation__top_links_social__item img {
    vertical-align: middle;
}
.header .container-header {
	justify-content: space-between;
	padding: 20px 30px;
	width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
.header .container-header .header__logo img {
	height: 40px;
	vertical-align: middle;
}
.header .header__nav ul {
	justify-content: end;
  list-style: none;
  margin: 0;
}
.header .header__nav ul .sub-menu-parent {
	position:relative;
}
.header .header__nav ul .sub-menu-parent > .sub-menu {
	position: absolute;
  left: 0;
  top: 150%;
  width: auto;
  text-align: left;
  background-color: #141638;
	border-radius: 5px;
  padding: 0 0 15px;
	margin-top:15px;
  z-index: 9999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header .header__nav ul .sub-menu-parent:hover > .sub-menu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}
.header .header__nav ul li a {
	font-size: 18px;
  color: #fff;
	font-weight: 500;
	line-height: 29px;
	padding:0 12px;
	margin: 0;
}
.header .header__nav ul li a:hover,.header .header__nav ul li a:focus {
	color: #3cadef;
  text-decoration: none;
}
.header .header__nav ul .sub-menu-parent > .sub-menu > li a {
	padding: 15px 24px 0;
  display: block;
}
.header .header__nav__burger {
	display: none;
  width:25px;
  height:25px;
	position: relative;
  cursor: pointer;
  border-top:2px solid #fff;
	margin-top: 5px;
	z-index: 100;
}
.header .header__nav__burger:before,.header .header__nav__burger:after {
	content: "";
  position: absolute;
  width: 25px;
  height:2px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transition: 0.3s all ease;
}
.header .header__nav__burger:before {
	transform: translate(-50%, 0);
}
.header .header__nav__burger:after {
	transform: translate(-50%, -7px);
}
.header .header__nav__burger.active {
	border-top:0;
	margin: 0;
}
.header .header__nav__burger.active:before {
	transform: translateX(-50%) rotate(45deg);
}
.header .header__nav__burger.active:after {
	transform: translateX(-50%) rotate(-45deg);
}
.header .header__nav_mobile {
	display:none;
}
@media screen and (max-width:1280px) {
	.header .header__nav ul li a {
		padding: 0 8px;
	}
}
@media screen and (max-width:1024px) {
	header.header > .container-header {
		padding: 15px 20px;
	}
	.header .container-header .header__logo img {
		height: 30px;
	}
	.header .header__nav ul li a,.header .c-navigation__top .c-navigation__top_links > a {
		font-size: 14px;
	}
}
@media screen and (max-width:767px) {
	body.mobile_active {
		overflow:hidden;
	}
	.header > .container-header,
  .header > .c-navigation__top .container-header {
		padding: 15px 20px;
	}
	.header .c-navigation__top {
		display:none;
		z-index: 100;
		position: relative;
	}
	.header .container-header .header__logo {
		z-index: 100;
	}
	.header .header__nav__burger {
		display:block;
	}
	.header .header__nav {
		display:none;
		position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #141738;
    z-index: 99;
		overflow:auto;
	}
	.header .c-navigation__top .c-navigation__top_links_social,.header .c-navigation__top .c-navigation__top_links .c-navigation__top_links__link_border {
		display:none;
	}
	header .c-navigation__top .c-navigation__top_links .c-navigation__top_links__link {
		margin-right:0;
	}
	.header .header__nav ul {
		display: block;
    margin: 0 auto;
    text-align: center;
	}
	.header .header__nav ul li a {
		font-size: 18px;
    padding: 10px 0;
		display:block;
	}
	.header .header__nav ul.flex_display {
		opacity:0;
		transition: all .25s ease;
		padding-top: 120px;
    padding-left: 0;
	}
	.header .header__nav.active ul.flex_display {
		opacity:1;
	}
	.header .header__nav_mobile {
		display:block;
		margin: 0 auto;
    text-align: center;
	}
	.header .header__nav_mobile .header__nav_mobile_social {
		justify-content: center;
    margin-top: 35px;
    margin-bottom: 20px;
	}
	.header .header__nav_mobile .c-navigation__top_links__link_border {
		border: 1px solid #08a5fc;
    border-radius: 33px;
    font-size: 18px;
    padding: 10px 50px;
    display: inline-block;
    font-weight: 500;
		color: #fff;
	}
	.header .header__nav_mobile .header__nav_mobile_social .c-navigation__top_links_social a {
		padding: 0 5px;
	}
	.header .header__nav_mobile .header__nav_mobile_social .c-navigation__top_links_social a img {
		width: 50px;
	}
	.header .header__nav ul .sub-menu-parent:hover > .sub-menu {
		top: 150%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
		-webkit-transition: none;
    -moz-transition: none;
    -ms-transition:none;
    -o-transition:none;
    transition:none;
	}
	.header .header__nav ul li.sub-menu-parent .sub-menu.active {
		top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
		position: relative;
    text-align: center;
	}
	.header .header__nav ul .sub-menu-parent > .sub-menu li a {
		padding: 4px 24px 0;
    font-size: 17px;
	}
}