body {
    /* font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 16px;
    line-height: 1.7;
    background-color: #FFF;
    color: #343838;
}
h1, h2, h3, h4, h5, h6 {
    /* font-family:'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    color: #222;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #B1B7B9;
}

h2 {
    margin-top: 35px;
}

h1, h2 {
    font-weight: 700;
}
h4 {
    /* font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-weight: 300;
    margin-top: 20px;
    font-style: italic;
}
h5 {
    /* font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-weight: 300;
    font-variant: small-caps;
}
pre, code {
    background-color: #FCFDFF;
}
pre>code {
    font-size: 13px;
}
pre {
    margin-top: 25px;
    margin-bottom: 25px;
}
.lead {
    /* font-family:"Inter", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.0312em;
    color: #B1B7B9;
}
.navbar-default {
    background-color: #343838;
    border-bottom: 8px #EBF2F2 solid;
}
.bs-sidenav {
    background-image: url("../img/grid11.png");
    background-repeat: repeat;
    /* font-family: Inter,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 13px;
}
.well {
    background-color: #FCFDFF;
}
.btn-default {
    background-color:#FCFDFF;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #FCFDFF;
}
#mkdocs-search-query:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#mkdocs-search-query {
    /* font-family:"Inter", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 20px;
    font-weight: 700;
    color: #343838;
    height: 55px;
    padding: 15.5px 20px;
    border-radius: 46px;
    width: 440px;
}
#mkdocs-search-query::-webkit-input-placeholder {
    color: #4F5061 !important;
}
#mkdocs-search-results article {
    margin-bottom: 30px;
}
#mkdocs-search-results article h3 {
    margin: 0;
    margin-bottom: 5px;
}
#mkdocs-search-results article h3 a {
    font-family: "Pop", serif;
    font-weight: 700;
    color: #191944;
}
#mkdocs-search-results article h3 a:hover {
    color: #3CADEF;
}
#mkdocs-search-results article p {
    font-family: "Pop", serif;
    font-weight: 300;
    color: #4F5061;
    margin-bottom: 0;
}
footer > hr {
    width: 35%;
}
.injected {
    display: none !important;
}
@media all and (max-width: 768px) {
    pre, code {
      display: inline-block;
      max-width: 100%;
      overflow: auto;
    }
    .header > .container-header {
        margin: 0;
        padding: 0 15px;
    }
  }