<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if config.site_description %}
  <meta name="description" content="{{ config.site_description }}">{% endif %}
  {% if config.site_author %}
  <meta name="author" content="{{ config.site_author }}">{% endif %}
  {% if page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
  <link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}">

  {% block htmltitle %}
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
  {% endblock %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css">
  <link href='https://rsms.me/inter/inter.css' rel='stylesheet' type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin'
    rel='stylesheet' type='text/css'>
  <link href="{{ 'css/bootstrap-custom.css'|url }}" rel="stylesheet">
  <link href="{{ 'css/base.css'|url }}" rel="stylesheet">
  <link href="{{ 'css/pkt.css'|url }}" rel="stylesheet">

  {% if config.theme.highlightjs is defined and config.theme.highlightjs is sameas false %}

  {% else %}
  {% if config.theme.colorscheme %}
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/{{ config.theme.colorscheme }}.min.css">
  {% else %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/github.min.css">
  {% endif %}
  {% endif %}

  {%- for path in config['extra_css'] %}
  <link href="{{ path|url }}" rel="stylesheet">
  {%- endfor %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->

  {% block extrahead %} {% endblock %}
</head>

<body{% if page and page.is_homepage %} class="homepage" {% endif %}>

  <header class="header">
    <div class="c-navigation__top">
      <div class="container-header flex_display">
        <div class="c-navigation__top_links flex_display">
          <a href="https://docsend.com/view/ayf5d3tz5rymn8fv" target="_blank" class="c-navigation__top_links__link c-navigation__top_links__link__deck">Deck</a>
          <a href="https://pkt.cash/PKT_Network_v1.0_2021.02.01.pdf" target="_blank" id="en" class="c-navigation__top_links__link_whitepaper">Whitepaper</a> 
          <a href="https://docs.pkt.cash" target="_blank" class="c-navigation__top_links__link">Docs</a> 
          <div class="c-navigation__top_links_social">
            <a href="https://discord.gg/pktcash" target="_blank" title="Discord" class="c-navigation__top_links_social__item">
              <img src="{{ 'img/header-social-discord.svg'|url }}" alt="Discord" class="c-navigation__top_links_social__item_icon">
            </a>
          </div>
          <div class="c-navigation__top_links_social">
            <a href="https://twitter.com/pktcash" target="_blank" title="Twitter" class="c-navigation__top_links_social__item">
              <img src="{{ 'img/header-social-twitter.svg'|url }}" alt="Twitter" class="c-navigation__top_links_social__item_icon">
            </a>
          </div>
          <div class="c-navigation__top_links_social">
            <a href="https://pkt.chat/" target="_blank" title="PKT Chat" class="c-navigation__top_links_social__item">
              <img src="{{ 'img/header-social-pktchat.svg'|url }}" alt="PKT Chat" class="c-navigation__top_links_social__item_icon">
            </a>
          </div>
          <div class="c-navigation__top_links_social">
            <a href="https://www.instagram.com/pktcash/" target="_blank" title="Instagram" class="c-navigation__top_links_social__item">
              <img src="{{ 'img/header-social-instagram.svg'|url }}" alt="Instagram" class="c-navigation__top_links_social__item_icon">
            </a>
          </div>
          <div class="c-navigation__top_links_social">
            <a href="https://www.youtube.com/c/PKTCash/" target="_blank" title="Youtube" class="c-navigation__top_links_social__item">
              <img src="{{ 'img/header-social-youtube.svg'|url }}" alt="Youtube" class="c-navigation__top_links_social__item_icon">
            </a>
          </div> 
          <a href="https://explorer.pkt.cash" target="_blank" class="c-navigation__top_links__link_border">Explorer</a>
        </div>
      </div>
    </div>
    <div class="container-header flex_display">
        <a href="https://pkt.cash/" class="header__logo">
            <img src="{{ 'img/logo-new.svg'|url }}" alt="PKT Blog">
        </a>
        <nav class="header__nav">
            <ul class="flex_display">
                <li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/utility">Utility</a></li>
                <li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/build">Build</a></li>
                <li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/mine">Mine</a></li>
                <li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/tech">Technology</a></li>
                <li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/resources">Community</a></li>
                <li class="menu-item sub-menu-parent">
                    <a class="header__nav-link dropdown">Resources <svg width="12" height="12" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 284.929 284.929" xml:space="preserve" fill="#fff" style="enable-background:new 0 0 284.929 284.929"><g><path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441
                    L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082
                    c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647
                    c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"></path></g></svg></a>
                 <ul class="sub-menu">
                	<li class="menu-item" tab-index="0"><a class="header__nav-link" href="https://pkt.cash/origin-story">PKT Origin Story</a></li>
                	<li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/letter">Letter from CJD</a></li>
                	<li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/cryptoeconomics">Cryptoeconomics</a></li>
                	<li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/network-steward">Network Steward</a></li>
                	<li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/ecosystem">Ecosystem</a></li>
                	<li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/pkt">PKT Cash</a></li>
                	<li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/wallet">Wallet</a></li>
                	<li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/getpkt">Get PKT</a></li>
                	<li class="menu-item"><a class="header__nav-link" href="https://pkt.cash/wpkt">WPKT</a></li>
                 </ul></li>
                <li class="menu-item"><a class="header__nav-link" href="https://crypto.pkt.cash/">Blog</a></li>
            </ul>
            <div class="header__nav_mobile">
                <div class="header__nav_mobile_social flex_display">
                  <div class="c-navigation__top_links_social">
                    <a href="https://discord.gg/pktcash" target="_blank" title="Discord" class="c-navigation__top_links_social__item">
                      <img src="{{ 'img/header-social-discord.svg'|url }}" alt="Discord" class="c-navigation__top_links_social__item_icon">
                    </a>
                  </div>
                  <div class="c-navigation__top_links_social">
                    <a href="https://twitter.com/pktcash" target="_blank" title="Twitter" class="c-navigation__top_links_social__item">
                      <img src="{{ 'img/header-social-twitter.svg'|url }}" alt="Twitter" class="c-navigation__top_links_social__item_icon">
                    </a>
                  </div>
                  <div class="c-navigation__top_links_social">
                    <a href="https://pkt.chat/" target="_blank" title="PKT Chat" class="c-navigation__top_links_social__item">
                      <img src="{{ 'img/header-social-pktchat.svg'|url }}" alt="PKT Chat" class="c-navigation__top_links_social__item_icon">
                    </a>
                  </div>
                  <div class="c-navigation__top_links_social">
                    <a href="https://www.instagram.com/pktcash/" target="_blank" title="Instagram" class="c-navigation__top_links_social__item">
                      <img src="{{ 'img/header-social-instagram.svg'|url }}" alt="Instagram" class="c-navigation__top_links_social__item_icon">
                    </a>
                  </div>
                  <div class="c-navigation__top_links_social">
                    <a href="https://www.youtube.com/c/PKTCash/" target="_blank" title="Youtube" class="c-navigation__top_links_social__item">
                      <img src="{{ 'img/header-social-youtube.svg'|url }}" alt="Youtube" class="c-navigation__top_links_social__item_icon">
                    </a>
                  </div>
                </div>
                <a href="https://explorer.pkt.cash" target="_blank" class="c-navigation__top_links__link_border">Explorer</a>
            </div>
        </nav>
        <div id="toggle_nav" class="header__nav__burger"></div>
    </div>
  </header>

  {% include "nav.html" %}

  <div class="container">
    {% block content %}
    {% if page.meta.disable_toc %}
    <div class="col-md-12" role="main">{% include "content.html" %}</div>
    {% else %}
    <div class="col-md-3 sidebar-wrapper">{% include "toc.html" %}</div>
    <div class="col-md-9" role="main">{% include "content.html" %}</div>
    {% endif %}
    {% endblock %}
  </div>

  {% if not config.theme.disable_footer %}
  <footer class="footer">
    {% block footer %}
    {% if not config.theme.disable_footer_except_revision %}
    <div class="container-footer">
      <div class="footer__wrap">
		<a href="https://pkt.cash" class="footer__logo">
          <img src="{{'img/logo-footer.svg'|url}}" alt="">
        </a>
        <div class="footer__links">
          <div class="footer__links-one">
            <h4 class="footer__links-title">Quicklinks</h4>
            <a href="https://pkt.cash/cash" class="footer__links-link">PKT</a>
            <a href="https://pkt.cash/mining" class="footer__links-link">Mining</a>
            <a href="https://pkt.cash/network-steward" class="footer__links-link">Network Steward</a>
            <a href="https://pkt.cash/roadmap" class="footer__links-link">Roadmap</a>
            <a href="https://pkt.cash/community" class="footer__links-link">Community</a>
            <a href="https://pkt.cash/about" class="footer__links-link">About</a>
          </div>
          <div class="footer__links-one">
            <h4 class="footer__links-title">Github</h4>
            <a href="https://github.com/pkt-cash/" class="footer__links-link">ptk.cash</a>
            <a href="https://github.com/cjdelisle/cjdns" class="footer__links-link">cjdns</a>
            <a href="https://github.com/cjdelisle/PacketCrypt" class="footer__links-link">PacketCrypt</a>
          </div>
        </div>
        <div class="footer__social footer__links-one">
          <h4 class="footer__social-title">Join the community</h4>
          <a href="https://t.me/pktproject" class="footer__social-link">
            <img src="{{'img/icon/telegram.svg'|url}}" alt="" class="footer__social-img">
            Telegram
          </a>
          <a href="https://matrix.to/#/#pkt:matrix.org" class="footer__social-link">
            <img src="{{'img/icon/matrix.svg'|url}}" alt="" class="footer__social-img">
            Matrix
          </a>
          <!-- <a href="#" class="footer__social-link">
                  <img src="img/icon/instagram.svg" alt="" class="footer__social-img">
                  Instagram
                </a>
                <a href="#" class="footer__social-link">
                  <img src="img/icon/facebook.svg" alt="" class="footer__social-img footer__social-img--facebook">
                  Facebook
                </a> -->
        </div>
        <div class="footer__copy">
          @ PKT 2023
        </div>
      </div>
    </div>
    {% endif %}
    {% endblock %}
  </footer>
  {% endif %}

  {%- block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ 'js/bootstrap-3.0.3.min.js'|url }}"></script>

  {% if config.theme.highlightjs is defined and config.theme.highlightjs is sameas false %}
  <!-- default is to include highlightjs -->

  {% else %}
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
  {% if config.theme.hljs_languages %}
  {%- for lang in config.theme.hljs_languages %}
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/languages/{{lang}}.min.js"></script>
  {%- endfor %}
  {% endif %}
  <script>hljs.initHighlightingOnLoad();</script>
  {% endif %}

  <script>var base_url = {{ base_url | tojson }}</script>
  {% if config.shortcuts %}
  <script>var shortcuts = {{ config.shortcuts | tojson }}</script>
  {% endif %}
  <script src="{{ 'js/base.js'|url }}"></script>
  {%- for path in config['extra_javascript'] %}
  <script src="{{ path|url }}"></script>
  {%- endfor %}
  {%- endblock %}

  {% if 'search' in config['plugins'] %}{%- include "search-modal.html" %}{% endif %}
  {%- include "keyboard-modal.html" %}
  </body>

</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
