/***************************************************
* Base
***************************************************/
@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff"),
    url("../fonts/Inter-Regular.ttf") format('truetype');
    preload: true;
    font-weight:400;
}
@font-face {
    font-family: "Inter-Medium";
    src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff"),
    url("../fonts/Inter-Medium.ttf") format('truetype');
    preload: true;
    font-weight:500;
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff"),
    url("../fonts/Inter-SemiBold.ttf") format('truetype');
    preload: true;
    font-weight:600;
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff"),
    url("../fonts/Inter-Bold.ttf") format('truetype');
    preload: true;
    font-weight:700;
}
:root {
    --md-text-font: "Inter-Regular", sans-serif;
}
body {
    font-family: "Inter-Regular", sans-serif;
    background-color: #00052f;
    color:silver;
}
h1,h2,h3,.h1,.h2,.h3 {
    font-family: "Inter-Bold", sans-serif;
    color: #fff;
}
.h3, h3 {
    color: #fff;
}
pre code {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
}
button:focus {
    outline:none;
}
.codehilite, .highlight {
    background-color: #202f5a;
}
h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink {
    display: none;
}
b, strong {
    font-family: "Inter-SemiBold";
}
/***************************************************
* Header
***************************************************/
#mainnav {
    z-index: 99;
    border-bottom: 1px solid hsla(0, 0%, 85.1%, .3);
    background-color: #00052f;
}
#mainnav #mainnav-navbar-collapse > .navbar-nav {
    background-color: #202f5a;
    padding: 0 1.875rem;
    border-radius: 60px;
}
#mainnav #mainnav-navbar-collapse > .navbar-nav > .nav-item > a {
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1.25rem;
    font-family: "Inter-SemiBold", sans-serif;
}
#mainnav .navbar-brand img {
    max-width: 125px;
}
#mainnav #mainnav-navbar-collapse > .search_wrap {
    opacity: 0;
    visibility: hidden;
}
#mainnav #mainnav-navbar-collapse > .navbar-nav > .nav-item .dropdown-menu {
    background-color: #202f5a;
}
#mainnav #mainnav-navbar-collapse > .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    color: #fff;
}
#mainnav #mainnav-navbar-collapse > .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus,
#mainnav #mainnav-navbar-collapse > .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
@media screen and (max-width:767px) {
    #mainnav {
        background: rgba(0, 5, 47, .5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    #mainnav .navbar-brand img {
        max-width: 4.6875rem;
    }
    #mainnav .navbar-toggler .navbar-toggler-icon {
        color: #fff;
    }
    #mainnav .navbar-toggler .navbar-toggler-icon i {
        line-height: 30px;
    }
    #mainnav #mainnav-navbar-collapse > .navbar-nav {
        background: none;
        padding: 0;
    }
}
/***************************************************
* Footer
***************************************************/
footer {
    padding-top: 3.75rem;
    padding-bottom: 4.0625rem;
    background-color: #000;
    color: hsla(0, 0%, 100%, .5);
    position: relative;
}
footer .c-footer__logo_social {
    padding: 2.8125rem 0 3.25rem;
}
footer .c-footer__logo_social .c-footer__menu-item a span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 1.25rem;
    background-color: hsla(0, 0%, 100%, .15);
    border-radius: 3.125rem;
    display: block;
    text-align: center;
}
footer .c-footer__logo_social .c-footer__menu-item a span img {
    width: 24px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    vertical-align: middle;
}
footer .col > h4 {
    font-size: 1rem;
    line-height: 2.5rem;
    color: hsla(0, 0%, 100%, .5);
    font-family: "Inter-Bold", sans-serif;
}
footer .col > a {
    font-size: 1rem;
    line-height: 2.5rem;
    color: hsla(0, 0%, 100%, .5);
    display: block;
}
footer .col > a:hover,
footer .col > a:focus {
    color:#fff;
    text-decoration: none;
}
@media screen and (max-width:767px) {
    footer .navbar-brand img {
        max-width: 115px;
    }
    footer .col {
        width:50%;
    }
    footer .c-footer__logo_social .c-footer__menu-item a span {
        width: 36px;
        height: 36px;
        line-height: 32px;
        margin-right: 15px;
    }
    footer .c-footer__logo_social .c-footer__menu-item a span img {
        width: 22px;
        height: 18px;
    }
    footer .col > h4 {
        min-width: 100px;
    }
}
/***************************************************
* Sidebar Main
***************************************************/
#sidebar-nav {
    background-color: #00052f;
    padding-bottom: 35px;
}
#sidebar-nav ul li.toplevel ul li {
    list-style: none;
}
#sidebar-nav ul li.toplevel ul li a:before {
    content: "";
    margin-right: 10px;
    width: 7px;
    height: 7px;
    background-color: #00b127;
    display: inline-block;
    border-radius: 3.125rem;
    vertical-align: middle;
}
#sidebar-nav ul ul {
    padding: 10px 0 10px 15px;
}
#sidebar-nav .navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
    text-transform: uppercase;
}
#sidebar-nav .navbar-expand-md .navbar-nav .nav-link:before {
    display: none;
}
#sidebar-nav .toplevel .section-title {
    cursor: pointer;
    display: block;
}
@media screen and (max-width:767px) {
    #sidebar-nav {
        padding: 0;
    }
    #sidebar-nav .navbar-toggler {
        margin: 0;
        position: fixed;
        top: 85px;
        right: 15px;
        z-index: 999;
        border: 0;
        background: #fff;
    }
    #sidebar-nav .navbar-toggler .navbar-toggler-icon {
        color: #00052f;
    }
    #sidebar-nav .navbar-toggler .navbar-toggler-icon i {
        line-height: 30px;
    }
    #sidebar-navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 0;
        z-index: 997;
        background: rgba(0, 5, 47, .5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        -ms-align-items: flex-start;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        padding: 0 25px;
    }
    #sidebar-navbar-collapse.show {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        opacity: 1;
    }
}
/***************************************************
* Sidebar Sub
***************************************************/
#sidebar-toc {
    background-color: #00052f;
}
#sidebar-toc > .sticky-offset {
    top: 100px;
}
#sidebar-toc nav[data-toggle=toc] .nav>li>a {
    color: silver;
    font-size: 16px;
}
#sidebar-toc nav[data-toggle=toc] .nav-link.active, 
#sidebar-toc nav[data-toggle=toc] .nav-link.active:focus, 
#sidebar-toc nav[data-toggle=toc] .nav-link.active:hover,
#sidebar-toc nav[data-toggle=toc] .nav>li>a:focus,
#sidebar-toc nav[data-toggle=toc] .nav>li>a:hover {
    border-left: 1px solid #fff;
    color:#fff;
}
#sidebar-toc #toc > h4 {
    font-family: "Inter-SemiBold";
    font-size: 1.1rem;
    margin-bottom: 15px;
}
@media screen and (max-width:767px) {
    #sidebar-toc {
        display: none;
    }
}
/***************************************************
* Content
***************************************************/
#main {
    background-color: #00052f;
}
#main img {
    max-width: 50%;
    display: block;
    margin: 10px auto;
}
#main pre {
    max-width: 50vw;
    overflow: auto;
    display: block;
}
#main .breadcrumb {
    background: none;
    padding-left: 0;
}
#main .breadcrumb-item.active {
    color: silver;
}
#main .page-metadata {
    display: none;
}
#main ol li,
#main ul li {
    padding-bottom: 5px;
}
#main .admonition ul,
#main .admonition ol {
    margin-top: 1.2rem;
}
#main strong {
    color: #ffffffcf;
}
#main h3 {
    font-size: 1.3rem;
    margin-top: 20px;
}
#main table {
    border-collapse: separate;
    margin:1.2rem 0;
}
#main table thead {
    color:#fff;
}
#main table tbody tr td {
    border:1px solid silver;
    padding: 10px;
}
.md-footer-nav {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.md-footer-nav > a {
    padding: .5rem 1rem;
    border: 1px solid #c0c0c063;
    border-radius: .3rem;
    width: 48%;
    color: #c0c0c063;
    transition: all .5s ease;
    font-size: 14px;
}
.md-footer-nav > a:hover,
.md-footer-nav > a:focus {
    border-color: silver;
    color:silver;
    text-decoration: none;
}
.md-footer-nav > .md-footer-nav__link--next {
    text-align: right;
}
.md-footer-nav > a span {
    color:#00b127;
    display: block;
    margin-top: 7px;
}
@media screen and (max-width:1280px) {
    #main p {
        word-break: break-all;
    }
}
@media screen and (max-width:767px) {
    #main p {
        word-break: normal;
    }
    .md-footer-nav > a {
        width: 100%;
    }
    .md-footer-nav > .md-footer-nav__link--next {
        margin-top: 15px;
    }
    #main pre {
        max-width: 100%;
        white-space: break-spaces;
    }
}